---
layout: default
---

<script>
document.getElementById('hero').style.display = 'block';
</script>

<script src="/files/scripts/navscroll.js"></script>
<script>
mainsuperscroll("#test a");
</script>

<ul class="post-list">
    {% for post in site.categories.start %}
        <li>
            {% include howtoshowapost.html %}  
        </li>
    {% endfor %}
</ul>


<h1>Καλωσήρθατε στην ιστοσελίδα του ομίλου «Μαθηματικά και Λογοτεχνία»!</h1>

<p>
Καλωσήρθατε στην ιστοσελίδα του ομίλου του 2ου Πειραματικού Λυκείου «Μαθηματικά και Λογοτεχνία»! Εδώ θα βρείτε αναρτήσεις σχετικά με τις διαλέξεις που γίνονται στα πλάισια του ομίλου καθώς και με τις παρουσιάσεις των μαθητών. Διατηρείται επίσης ένα αρχείο με τις δράσεις των προηγούμενων σχολικών ετών. Μπορείτε ακόμη και να ενημερώνεστε για τις επερχόμενες δραστηριότητες του ομίλου.  
</p>
